# Data files and folders
download/
training_set/
nf_prize_dataset.tar.gz
Netflix/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.idea/.gitignore
.idea/deep_autoencoder_for_CF.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.vscode/settings.json
logs/events.out.tfevents.1582084388.hyoje-desktop
logs/events.out.tfevents.1582085009.hyoje-desktop
model_save/events.out.tfevents.1582080688.hyoje-desktop
model_save/events.out.tfevents.1582081996.hyoje-desktop
model_save/model.epoch_0
model_save/model.epoch_3
model_save/model.epoch_6
model_save/model.epoch_9
model_save/model.epoch_11
model_save/model.epoch_12
model_save/model.epoch_15
model_save/model.epoch_18
model_save/model.epoch_21
model_save/model.epoch_24
model_save/model.epoch_27
model_save/model.epoch_30
model_save/model.epoch_33
model_save/model.epoch_36
model_save/model.epoch_39
model_save/model.epoch_42
model_save/model.epoch_45
model_save/model.epoch_48
model_save/model.epoch_51
model_save/model.epoch_54
model_save/model.epoch_57
model_save/model.epoch_60
model_save/model.epoch_63
model_save/model.epoch_66
model_save/model.epoch_69
model_save/model.epoch_72
model_save/model.epoch_75
model_save/model.epoch_78
model_save/model.epoch_81
model_save/model.epoch_84
model_save/model.epoch_87
model_save/model.epoch_90
model_save/model.epoch_93
model_save/model.epoch_96
model_save/model.epoch_99
model_save/model.epoch_102
model_save/model.epoch_105
model_save/model.epoch_108
model_save/model.epoch_111
model_save/model.epoch_114
model_save/model.epoch_117
model_save/model.epoch_120
model_save/model.epoch_123
model_save/model.epoch_126
model_save/model.epoch_129
model_save/model.epoch_132
model_save/model.epoch_135
model_save/model.epoch_138
model_save/model.epoch_141
model_save/model.epoch_144
model_save/model.epoch_147
model_save/model.epoch_150
model_save/model.epoch_153
model_save/model.epoch_156
model_save/model.epoch_159
model_save/model.epoch_162
model_save/model.epoch_165
model_save/model.epoch_168
model_save/model.epoch_171
model_save/model.epoch_174
model_save/model.epoch_177
model_save/model.epoch_180
model_save/model.last
model_save/model.onnx
